server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    return 444;
}

server {
    listen 443 ssl default_server;
    listen [::]:443 ssl default_server;
    server_name _;

    ssl_certificate {{ paths.nginx_default_deny_ssl_certificate }};
    ssl_certificate_key {{ paths.nginx_default_deny_ssl_certificate_key }};

    return 444;
}
